@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Palestine Westbank<br />
    Ramallah Old City Main Street<br />
    <abbr title="Phone">Mobile:</abbr>
    0599104193
</address>

<address>
    <strong>Email:</strong> <a href="mailto:nasrelada@gmail.com">nasrelada@gmail.com</a>
</address>