@{
    ViewBag.Title = "Home Page";
}

<div style="width:300px; height:120px" class="center-block">
    <img src="~/Birzeit_University_logo.png" class="img-responsive" alt="Birzeit University" />
</div>
<div class="panel panel-default">
    <div class="panel-heading"><h1>Identifying Non-Functional Requirements from Mobile Apps User’s Reviews using Deep Learning</h1></div>
    <div class="panel-body">
        <section style="border:5px solid #eee">
            <div class="blockquote text-center">
                <p class="h4">
                    To complete the requirement for the Master of Software Engineering program at Birzeit University,
                    these classifications are part of the master’s thesis preparation, so please help with this work.
                </p>
                <P class="text-muted">Gratefully </P>
            </div>

            <p>
                <strong>Supervisor:</strong> Dr. Abualseoud Hanani
            </p>
            <p>
                <strong>Student name:</strong> Nasri Ladaa
            </p>

        </section>
        <h3>Your task</h3>
        <ol>
            <li>After carefully reading the text below, you should select what type of users reviews that should be classified as.</li>
            <li>
                Choose one of the Nine labeled from List in the screen (i.e, Usability, Reliability, Portability, Performance, Learnability, Compatibility, Security, Functional Requirements, Others )
            </li>
            <li>
                Please be careful, all users reviews that will presented are without labelling by using tools (Web Harvy).
            </li>
            <li>
                There is no time limit to complete your task, every time you need to repeat the task you will get new inctance, and you can use
                the same Email adrress used befor to complete your task
            </li>
            <li> To avoid frequently present the same user review, you will enter the valid email address </li>
            <li> You can start here: <br /><b style="font-size:x-large"> @Html.ActionLink("Start task", "ParticipantInfo", "Home")</b></li>
        </ol>
        <hr />

        <h4> Usability</h4>
        <p class="text-justify">
            Degree to which a product or system can be used by specified users to achieve specified goals with effectiveness, efficiency and satisfaction in a specified context of use.
            <b>Example: ”I have to navigate into three pages before reach my appointment page”</b>
        </p>
        <br />

        <h4>Reliability</h4>
        <p class="text-justify">
            Degree to which a system, product or component performs specified functions under specified conditions for a specified period of time.
            <b>Example: “After clicking on start call button the app crashes”</b>
        </p>
        
        <br />

        <h4> Portability</h4>
        <p class="text-justify">
            Degree of effectiveness and efficiency with which a system, product or component can be transferred from one hardware, software or other operational or usage environment to another.
            <b>Example: “On my tablet it worked fine but on the phone nothing appeared”</b>
        </p>
       
        <br />

        <h4>Performance</h4>
        <p class="text-justify">
            Performance relative to the amount of resources used under stated conditions.
        </p>
        <b>Example:“ I have to wait 10 seconds to see all my notifications”</b>
        <br />

        <h4>Learnability</h4>
        <p class="text-justify">
            Degree to which a product or system can be used by specified users to achieve specified goals of learning to use the product or system with effectiveness, efficiency, freedom from risk and satisfaction in a specified context of use.
            <b>Example:“I used many similar apps all of them have quick tutorial to get started”</b>
        </p>
      
        <br />

        <h4>Compatibility</h4>
        <p class="text-justify">
            Degree to which a product, system or component can exchange information with other products, systems or components, and/or perform its required functions, while sharing the same hardware or software environment.
            <b>Example:“My live match are not synced with FIFA official schedule”</b>
        </p>
      
        <br />

        <h4>Security</h4>
        <p class="text-justify">
            Degree to which a product or system protects information and data so that persons or other products or systems have the degree of data access appropriate to their types and levels of authorization.
            <b>Example:“This app allow weak password”</b>
        </p>
       
        <br />

        <h4>Functional Requirements</h4>
        <p class="text-justify">
            Things that system shall allow, be able to do, may be able to do.  <b>Example:“Can you add Call ambulance button so we can make emergency calls faster”</b>
        </p>
       
        <br />

        <h4>Others</h4>
        <p class="text-justify">
            Include emotional expressions and not related functional or nonfunctional requirements.
            <b>Example:“Cool”, “I like this App.”</b>
        </p>
       
        <br />

        <br/>


        <p> <strong> For more details you can refer to : </strong></p>
        <ul>
            <li><cite> [4] International Organization for Standardization, 2016. Systems and Software Engineering: Systems and Software Quality Requirements and Evaluation (SQuaRE): Measurement of System and Software Product Quality. ISO. </cite> </li>

        </ul>
    </div>


</div>